/* Add CSS here */
body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: white;
    max-width: 800px;
    height: 600px;
    box-shadow: 0 4px 8px rgb(156, 154, 154);
}

.holder {
    height: 50px;
    display: flex;
    padding: 10px;
    width: 100%;
    border-bottom-width: 2px;
    border-color: rgb(225, 225, 227);
    align-items: center;
    justify-content: space-between;
}

.comp {
    display: flex;
    gap: 20px;
}
.comp h1 {
font-size: 14px;
transition: .3s;
}
.comp h1:hover {
font-size: 14px;
cursor: pointer;
border-bottom-width: 1px;
}
.btn {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

button {
    width: 45%;
    height: 40px;
    color: rgb(75, 71, 71);
    font-size: 15px;
    border-width: 1px;
    transition: .7s;
}

button:hover {
    width: 45%;
    background-color: #2e2e2e;
    height: 40px;
    color: white;
    transform: scale(0.96);
    font-size: 15px;
}

.content {
    height: 550px;
    width: 100%;
    display: flex;
}

.closet-1 {
    width: 60%;
}

.closet-2 {
    width: 40%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 150px;
    padding: 20px;
}

.card-1 {
    height: 80px;
    border-bottom-width: 2px;
    display: flex;
    width: 85%;
    margin-left: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 10px;
}

.card-1 h1 {
    font-size: 15px;
}

.card h1 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-top: 10px;
}

.bergen {
    display: flex;
    gap: 30px;
}

.claus {
    background-color: #f4f4f4;
    border-radius: 2em;
    width: 20%;
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.alignment {
    display: flex;
    gap: 40px;
}

.base {
    height: 20px;
    border: none;
    transition: .7s;
}

.base h2 {
    font-size: 12px;
}

.base:hover {
    height: 20px;
    color: white;
    background-color: #2e2e2e;
    border: none;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 15%;
    border-radius: 0.2em;
}

.closure {
    border-width: 2px;
    height: 390px;
    padding: 20px;
    width: 85%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closure h2 {
    font-size: 17px;
    padding-bottom: 10px;
}

.icon {
    height: 60px;
    gap: 5px;
    flex-direction: column;
    border-radius: 0.2em;
    justify-content: space-between;
    transition: .7s;
}

.icon:hover {
    height: 60px;
    gap: 5px;
    cursor: pointer;
    flex-direction: column;
    border-radius: 0.2em;
    padding: 5px;
    background-color: #8d8989;
    color: white;
    justify-content: space-between;
}

.con {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

@media screen and (max-width:600px) {
    body {
        background-color: #f4f4f4;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        background-color: white;
        width: 97%;
        height: 640px;
        box-shadow: 0 4px 8px rgb(156, 154, 154);
    }

    .holder {
        height: 50px;
        display: flex;
        padding: 10px;
        width: 100%;
        border-bottom-width: 2px;
        border-color: rgb(225, 225, 227);
        align-items: center;
        justify-content: space-between;
    }

    .comp {
        display: flex;
        gap: 10px;
    }

    .comp h1 {
        font-size: 9px;
    }

    .btn {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    button {
        width: 45%;
        height: 30px;
        color: rgb(75, 71, 71);
        font-size: 10px;
        border-width: 1px;
        transition: .7s;
    }

    button:hover {
        width: 45%;
        background-color: #2e2e2e;
        height: 30px;
        color: white;
        transform: scale(0.96);
        font-size: 10px;
    }

    .content {
        height: 550px;
        width: 100%;
        display: flex;
    }

    .closet-1 {
        width: 60%;
    }

    .closet-2 {
        width: 55%;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        height: 150px;
        padding: 20px;
    }

    .card-1 {
        height: 80px;
        border-bottom-width: 2px;
        display: flex;
        width: 85%;
        margin-left: 20px;
        padding: 5px;
        flex-direction: column;
        justify-content: center;
    }

    p {
        font-size: 9px;
    }

    .card-1 h1 {
        font-size: 11px;
    }

    .card h1 {
        font-size: 17px;
        font-weight: 700;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .bergen {
        display: flex;
        gap: 5px;
    }

    .claus {
        background-color: #f4f4f4;
        border-radius: 2em;
        width: 35%;
        display: flex;
        height: 25px;
        align-items: center;
        justify-content: center;
        font-size: 9px;
    }

    .alignment {
        display: flex;
        gap: 10px;
    }

    .base {
        height: 20px;
        border: none;
        transition: .7s;
    }

    .base h2 {
        font-size: 9px;
    }

    .base:hover {
        height: 20px;
        color: white;
        background-color: #2e2e2e;
        border: none;
        height: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        width: 25%;
        border-radius: 0.2em;
    }

    .closure {
        border-width: 2px;
        height: 390px;
        padding: 20px;
        width: 100%;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .closure h2 {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .icon {
        height: 60px;
        gap: 5px;
        flex-direction: column;
        border-radius: 0.2em;
        justify-content: space-between;
        transition: .7s;
    }

    .icon:hover {
        height: 60px;
        gap: 5px;
        cursor: pointer;
        flex-direction: column;
        border-radius: 0.2em;
        padding: 5px;
        background-color: #8d8989;
        color: white;
        justify-content: space-between;
    }

    .con {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 5px;
    }

    .con h1 {
        font-size: 10px;
    }
}